---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<a href="/">Startseite</a>
<a href="/about/">Über mich</a>
<a href="/blog/">Blog</a>

<h1>Über mich</h1>
  <h2>… und meine neue Astro-Seite!</h2>

  <p>Ich arbeite mich durch das einführende Astro-Tutorial. Dies ist die zweite Seite meiner Website und die erste, die ich selbst erstellt habe!</p>

  <p>Diese Website wird aktualisiert, während ich mehr vom Tutorial abschließe – schau also regelmäßig vorbei, um zu sehen, wie meine Reise verläuft!</p>	</body>
</html>
